{% extends "base.html" %}

{% block formulario_cambia %}
<form action="{% url 'AplicacionAdopcion' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Publicar">
</form>
{% endblock %}
{% block lista_cambia %}
{% if mascotas %}
{% for mascota in mascotas %}
<div class="col-lg-6">
    <!-- Blog post-->
    <div class="card mb-4">
        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..."/></a>
        <div class="card-body">
            <div class="small text-muted">January 1, 2023</div>
            <h2 class="card-title h4">{{ mascota.nombre }}</h2>
            <p class="card-text">Edad: {{ mascota.edad }} Genero: {{ mascota.genero }}</p>
            <a class="btn btn-primary" href="#!">Leer mas →</a>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
No hay mascotas disponibles
{% endif %}
{% endblock %}