{% extends "base.html" %}

{% block formulario_cambia %}
<form action="{% url 'AplicacionAdopcion' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Publicar">
</form>
{% endblock %}
{% block lista_cambia %}
{% if mascotas %}
{% for mascota in mascotas %}
<div class="col-lg-6">
    <!-- Blog post-->
    <div class="card mb-4">
        <a href="#!"><img class="card-img-top" src="{{ mascota.foto.url }}" alt="mascota" height="320px"/></a>
        <div class="card-body">
            <div class="small text-muted">06/04/2023</div>
            <h2 class="card-title h4">{{ mascota.nombre }}</h2>
            <p class="card-text">Edad: {{ mascota.edad }} Genero: {{ mascota.genero }}</p>

        </div>
    </div>
</div>
{% endfor %}
{% else %}
No hay mascotas disponibles
{% endif %}
{% endblock %}